
.navbar{
  background-color: pink;
}

.navbar-brand img{
  width: 200px;
}
.collapse{
  justify-content: center;
  margin: 0 auto;
}
.ulcontact{
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
main .ventas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  margin: 36px 0;
}
main .pepito {
  display: inline-block;
  display: flex;
  align-items: center;
  margin: 70px;
  background-color: cyan;
  border-radius: 5px;
  display: inline-block;
}
main .fotoVenta {
  width: 100%;
  height: 200px;
  object-fit: contain;
  border-radius: 5px;
  margin-bottom: 20px;
}
main .tituloVenta {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}
main .precio {
  font-size: 24px;
  font-weight: bold;
  color: fuchsia;
}
main .compra {
  padding: 10px 20px;
  background-color: fuchsia;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}
main .hola {
  color: fuchsia;
}
main .parrafo, main h5 {
  color: black;
}

main .carta {
  display: inline-block;
  margin: 300px;
}


footer {
  
 
  background-color: turquoise; 
    color: black; 
    padding: 30px 0;
    margin: 0 auto;
  }
  
  
  .footer-title {
    font-size: 18px; 
    margin-bottom: 10px;
  }
  
  .footer-payship-img {
    margin-right: 10px; 
  }
  
  
  .contact-data {
    text-align: center;
  }
  
  .footer-list {
    list-style: none; 
    padding: 0;
  }
  
  .footer-list li {
    margin-bottom: 10px; 
    
   
  font-size: 16px; 
  }
  
  
  .svg-text-fill {
    color: #fff; 
    margin-right: 5px; 
    
   
  font-size: 20px; 
  }
  .svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
  }
  
  .map-container {
    position: relative;
    overflow: hidden;
    
   
  padding-top: 75%; 
  }
  
  .map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
  
body{
  background-color: pink;
}
  main {
    margin-bottom: 0; /* Elimina el margen inferior del elemento main */
    margin-top: 50px;
  }
  
  footer {
    margin-top: 0; /* Elimina el margen superior del footer */
    padding-top: 10px; /* Añade un poco de espacio superior en el footer si es necesario */
    background-color: #f8f9fa; /* Cambia el color de fondo del footer si es necesario */
    margin-top: 50px;
    background-color: turquoise;
  }
