header{
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: $color-turquesa;
    top: 0;
    
 .miLogo {
    width: 300px;
    display: block;
 }
  
  .forFondo {
    background-color: $color-rosa;
    border-radius: 50px;
  }
  

  
  
  
  li:hover {
    background-color: $color-turquesa;
    color: $color-rosa;
    border-radius: 15px;
  }
  
}
  