navbar {
  background-color: pink;
}

.navbar-brand img {
  width: 200px;
}

.collapse {
  justify-content: center;
  margin: 0 auto;
}

.ulcontact {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

  